@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Barlow:wght@400;600&family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bgmain: #ffe9d1;
    --main-color: #fe9e7b;
    --secondary-color: #fff4d1;
    --accent-color: #fee07b;
    --main-font: "Barlow";
    --secondary-font: "Barlow Condensed";
    --body-font: "Montserrat";
}

body {
    background-color: antiquewhite;
    font-family: var(--body-font);
}

header {
    background-color: var(--main-color);
}

header img {
    margin-block: 1rem;
    margin-inline: 1rem;
}

.navbar li {
    font-family: var(--main-font);
    font-weight: 600;
}

.nav-link:hover {
    color: white;
}

.profile-container {
    background-color: none;
}

h1 {
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--main-color);
}

h4 {
    font-family: var(--secondary-font);
    font-weight: 500;
}

h5 {
    font-family: var(--main-font);
    font-weight: 500;
    color: white;
}

p {
    font-family: var(--body-font);
}

.services-container {
    background-color: var(--secondary-color);
}

.carousel-caption {
    position: relative;
    right: 0%;
    left: 0%;
    height: 40vw;
    background-color: var(--main-color);
}

.welcome-salon-container {
    background-image: url(./photos/profile-pic-transparent.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    background-size: 50vh;
}

.welcome-text {
    margin-left: 5vw;
}

.welcome-salon-container > .welcome-text h1::after {
    content: '';
    width: 60%;
    height: .5vh;
    display: block;
    background: var(--main-color);
    margin-top: 2vh;
}

.welcome-salon-container p {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    background-color: var(--secondary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.testimonial-container {
    background-color: var(--main-color);
}

.stay-in-touch-container {
    background-color: none;
}

footer {
    background-color: var(--main-color);
}

footer li {
    list-style: none;
    font-size: .8rem;
}

.btn {
    background-color: var(--accent-color);
    color: black;
}


.carousel-control-prev-icon {
    background-color: var(--accent-color);
}

.carousel-control-next-icon {
    background-color: var(--accent-color);
}