@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Barlow:wght@400;600&family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bgmain: #ffe9d1;
    --main-color: #fe9e7b;
    --secondary-color: #fff4d1;
    --accent-color: #fee07b;
    --main-font: "Barlow";
    --secondary-font: "Barlow Condensed";
    --body-font: "Montserrat";
}

body {
    background-color: var(--bgmain);
    font-family: var(--body-font);
}

header {
    background-color: var(--main-color);
    box-shadow: 0 0 10px 1px #a85334;
}

header img {
    margin-block: 1rem;
    margin-inline: 1rem;
}

.navbar li {
    font-family: var(--main-font);
    font-weight: 600;
}

.navbar .nav-link {
    color: white;
}

.nav-link:hover {
    text-shadow: 0 0 5px white;
    /* color: var(--accent-color); */
}

h1 {
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--main-color);
}

h4 {
    font-family: var(--secondary-font);
    font-weight: 500;
}

h5 {
    font-family: var(--main-font);
    font-weight: 500;
    color: white;
}

p {
    font-family: var(--body-font);
}

.services-container {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 20px 0px #a85334;
}

.carousel-caption {
    position: relative;
    right: 0%;
    left: 0%;
    height: 40vw;
    background-color: var(--main-color);
}

.welcome-salon-container {
    background-image: none;
}

.welcome-text {
    margin-left: 5vw;
    margin-right: 5vw;
}

.welcome-salon-container > .welcome-text h1::after {
    content: '';
    width: 60%;
    height: .5vh;
    display: block;
    background: var(--main-color);
    margin-top: 2vh;
}

.welcome-salon-container p {
    background-color: var(--secondary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.testimonial-container {
    background-color: var(--main-color);
    box-shadow: 0 0 20px 1px #a85334;
}

.stay-in-touch-container {
    background-color: none;
}

footer {
    background-color: var(--main-color);
    box-shadow: 0 0 20px 1px #a85334;
}

footer li {
    list-style: none;
    font-size: .8rem;
}

.btn {
    background-color: var(--accent-color);
    color: black;
}


@media screen and (min-width: 720px) {

    header  {
        justify-content: center;
    }

    header .navbar{
        display: flex;
        justify-content: space-between;
    }

    header .navbar .navbar-nav {
        display: flex;
        justify-content: end;
        width: 70vw;
    }

    .profile-container {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
    }

    .profile-container img {
        width: 30vw;
        margin-left: 5vw;

    }

    .carousel-box {
        width: 50vw;
    }

    .carousel-caption {
        height: 20vh;
    }

    .services-cards-carousel .card-body{
        background-color: var(--main-color);

    }

    .welcome-salon-container {
        padding-top: 25vh;
        padding-bottom: 25vh;
        display: flex;
        box-sizing: border-box;
    }

    .welcome-salon-background {
        background-image: url(./photos/bg-welcome2.png);
        background-repeat: none;
        background-size: cover;
        background-position-y: bottom;
    }

    .welcome-salon-paragraph {
        width: 50vw;
        font-size: 1.5rem;
    }

    .testimonial-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carousel-testimonial {
        width: 30vw;
        margin-top: 10vh;
    }

    .stay-in-touch-container .container-sub {
        width: 50vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .stay-in-touch-container .container-sub .button-sub {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 25vw;
    }

    footer .form-subscribe .form-bar{
        width: 20vw;
    }

    footer .col-6 {
        color: white;
        padding-left: 2rem;
    }

    footer li {
        font-size: 1rem;
        color: white;
    }

    footer p {
        font-size: 1rem;
        color: white;
    }
}